body {
	font-family: 'Dancing Script', Helvetica, sans-serif;
	background-color: #dda0dd; /*#B0E0E6;*/
}

* {
	box-sizing: border-box;
}

p {
	font-size: 23px;
}

/* Hai trái tim */
.redheart {
	color:#ff0000;
}